@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: #d7caf1;
  color: white;
  position: relative;

  // Container for Logo and Menu Icon
  &__container {
    display: flex;
    align-items: center;
    z-index: 10;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    @include tablet {
      padding: 1rem 2rem;
    }
    @include desktop {
      justify-content: center;
    }
  }

  // Logo
  &__logo {
    width: 8rem;
    height: 8rem; /* Prevent layout shift */
    display: block;
    background-color: #f0f0f0; /* Placeholder for loading */
    @include desktop {
      width: 12rem;
      height: 12rem;
    }
  }

  // Hamburger Menu Icon
  &__menu-icon {
    font-size: 2rem;
    cursor: pointer;
    z-index: 15;

    // Hide the menu icon for tablet and desktop
    @include desktop {
      display: none;
    }
  }

  &__shopping-cart {
    font-size: 2rem;
    cursor: pointer;
  }

  // Navigation Menu
  &__nav {
    display: none;
    align-items: center;

    // Modifier for open navigation on mobile
    &--open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; /* Align items to the left */
      padding: 0 3rem; /* Add 2rem padding from the screen edges */
      background-color: #d7caf1;
      width: 100%;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      font-size: 1.65rem;

      @include desktop {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        margin: 0;
        align-items: center;
        padding-bottom: 1rem;
      }

      &__item {
        margin: 0;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;

          &:hover {
            color: #00bcd4;
          }
        }
      }
    }

    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
}
