@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: #d7caf1;
  color: white;
  position: relative;

  // Container for Logo and Menu Icon
  &__container {
    display: flex;
    align-items: center;
    z-index: 10;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Default for mobile and tablet */
    padding: 1rem;

    @include tablet {
      padding: 1rem 2rem;
    }

    @include desktop {
      justify-content: center; /* Center content in desktop */
      position: relative; /* Allow absolute positioning for menu/cart */
      padding: 1rem 5rem;
    }

    & > .header__menu-icon {
      @include desktop {
        position: absolute;
        left: 1rem; /* Position menu icon on the far left */
      }
    }

    & > .header__shopping-bag {
      @include desktop {
        position: absolute;
        right: 1rem; /* Position shopping cart on the far right */
      }
    }
  }

  // Logo
  &__logo {
    width: 8rem;
    height: 8rem; /* Prevent layout shift */
    display: block;

    @include desktop {
      width: 12rem;
      height: 12rem;
      margin: 0 auto; /* Center logo horizontally */
    }
  }

  // Hamburger Menu Icon
  &__menu-icon {
    font-size: 2rem;
    cursor: pointer;
    z-index: 15;

    // Hide the menu icon for tablet and desktop
    @include desktop {
      display: none;
    }
  }

  &__shopping-bag {
    font-size: 2rem;
    cursor: pointer;
    @include desktop {
      font-size: 3rem;
      padding-right: 5rem;
    }
  }

  // Navigation Menu
  &__nav {
    display: none;
    align-items: center;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    color: #333;

    // Modifier for open navigation on mobile
    &--open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; /* Align items to the left */
      padding: 0 3rem; /* Add 2rem padding from the screen edges */
      background-color: #d7caf1;
      width: 100%;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      font-size: 1.65rem;

      @include desktop {
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
        margin: 0;
        align-items: center;
        background-color: #f5f6f8;
      }

      &__item {
        margin: 0;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;

          &:hover {
            color: #00bcd4;
          }
        }
      }
    }

    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
}
