@use "../../styles/partials/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: -2rem;
  padding: 1rem;

  @include tablet {
    margin-top: -8rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    @include desktop {
      margin-top: -18rem;
    }
  }

  &__container {
    background-color: #d7caf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;

    @include tablet {
      margin: 1rem;
      flex: 1 1 30%; /* Occupy 1/3 of the space */
    }

    &-welcome {
      padding: 1rem;
      @include tablet {
        max-width: 25rem;
        justify-content: center;
        align-items: center;
      }
    }

    &-feature {
      display: flex;
      flex-direction: column;
      @include tablet {
        overflow: hidden;
        flex-direction: row;
        margin-bottom: 2rem;
        gap: 0;
        @include desktop {
          gap: 2rem;
          padding: 0 4rem;
        }
      }
    }

    &-sticker {
      @include tablet {
        order: 1; /* Place sticker on the left */
        flex: 1 1 calc(33.33% - 2rem); /* Occupy equal space */
      }
    }

    &-keychain {
      @include tablet {
        order: 2; /* Place keychain on the right */
        flex: 1 1 calc(33.33% - 2rem); /* Occupy equal space */
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
    @include desktop {
      gap: 3rem;
    }
    &-welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }

  &__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3 /2;
    border-radius: 1.75rem;
    transition: transform 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(
        1.1
      ); // Enlarges the image while staying inside the container
    }
  }

  &__title {
    font-size: 2rem;
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.65rem;
    color: #fff;
    font-family: Nunito-Bold, sans-serif;
    text-transform: uppercase;
    text-align: center;
    &-welcome {
      font-size: 1.4rem;
      color: #fff;
      font-family: Nunito-Bold, sans-serif;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__button {
    background-color: #5a3e79;
    padding: 0.75rem 2.5rem;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #483261;
    }
  }
}
