.footer {
  color: #333;
  background-color: #d7caf1;
  padding: 2rem 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__info {
    text-align: center;
  }

  &__subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #5a2d82;
  }

  &__text {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  &__link {
    color: #6a1b9a; /* Instagram branding */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;

    &:hover {
      color: #a864c1; /* Softer purple on hover */
      text-decoration: underline;
    }
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__copyright {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
  }
}
