@use "../../styles/partials/mixins" as *;

.hero {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(
      to bottom,
      rgba(254, 212, 248, 0.5),
      #fed4f8 10%,
      #fff 100%
    );
    @include tablet {
      padding: 3rem;
    }
    @include desktop {
      margin-top: -4rem;
      padding: 4rem 6rem;
    }
  }

  &__image {
    width: 100%;
    @include tablet {
      border-radius: 2rem;
      width: 80%;
    }
    @include desktop {
      width: 65%;
    }
    @include high-res {
      width: 50%;
    }
  }
}
